<div class="search">
    <form class="search-form">
        <div class="form-wrapper">
            <input class="search-field" type="text" placeholder="Search...">
        </div>
    </form>
    <div class="search-result"></div>
</div>